body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  max-width: 100%;
  overflow-x: hidden;
}
.delevery-text {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: white;
  margin-top: 0px;
}
/* Style for the header logo */
.header-logo {
  width: 45%; /* Takes up the full width of its container */
  max-width: 500px; /* Maximum width the logo can expand to */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any unwanted space below the image */
  margin: 0 auto; /* Center the image horizontally */
}

header {
  background-color: white;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 10px 0;
}
nav a {
  color: #fff;
  color: rgb(15, 112, 183);
  text-decoration: none;
  padding: 10px 20px;
}
nav a:hover {
  text-decoration: underline;
}
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}
.product {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.product img {
  max-width: 100%;
  border-radius: 5px;
}
footer {
  background-color: rgb(15, 112, 183);
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  color: white;
  text-align: center;
  padding: 10px;
}
/* Container holding the slideshow */
.Main-img {
  width: 100%;
  overflow: hidden; /* Hide the slides outside the container */
  position: relative;
}

/* Styling each slide */
.main .slide {
  width: 100%;
  float: left;
  text-align: center; /* Center the text within each slide */
  box-sizing: border-box;
  transition: all 0.5s; /* Transition for the slide movement */
}

/* Styling the images to be responsive */
.main .slide img {
  width: 80%; /* Change this value to control the size */
  height: auto;
  display: block;
  margin: 0 auto; /* This will center the image horizontally */
}

/* Styles for the search container */
.search-container {
  display: flex;
  align-items: center; /* This ensures that the search bar and button are aligned */
  justify-content: center; /* This centers the search bar and button */
  padding: 10px 10;
  background-color: white;
}
/* Styles for the search bar */
.search-bar {
  width: 80%; /* This will make the search bar take up 80% of its container's width */
  padding: 8px;
  border: 1px solid rgb(15, 112, 183); /* Gives a blue border to match your theme */
  border-radius: 10px; /* Round the left side of the search bar */
  font-size: 12px;
  outline: none;
  margin-left: 10px;
}
/* Styles for the search button */
.search-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 8px 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  background-color: rgb(
    15,
    112,
    183
  ); /* Same color as the navbar links for consistency */
  color: white;
  cursor: pointer;
  border-radius: none; /* Round the right side of the button */
}
/* Make sure the button and search bar align perfectly */
.search-bar,
.search-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .search-bar {
    width: 60%; /* Adjust the width for smaller screens */
  }
}
.product[data-category="hat"] p:nth-of-type(1),
.product[data-category="Hat"] p:nth-of-type(1),
.product[data-category="boots"] p:nth-of-type(1),
.product[data-category="boots"] p:nth-of-type(1),
.product[data-category="T-shirt"] p:nth-of-type(1),
.product[data-category="t-shirt"] p:nth-of-type(1),
.product[data-category="jacket"] p:nth-of-type(1),
.product[data-category="Jacket"] p:nth-of-type(1),
.product[data-category="pants"] p:nth-of-type(1),
.product[data-category="Pants"] p:nth-of-type(1),
.product[data-category="pyjama"] p:nth-of-type(1),
.product[data-category="Pyjama"] p:nth-of-type(1),
.product[data-category="set"] p:nth-of-type(1),
.product[data-category="Set"] p:nth-of-type(1),
.product[data-category="body"] p:nth-of-type(1),
.product[data-category="Body"] p:nth-of-type(1),
.product[data-category="short"] p:nth-of-type(1),
.product[data-category="Short"] p:nth-of-type(1),
.product[data-category="long-Sleeve"] p:nth-of-type(1),
.product[data-category="Long-Sleeve"] p:nth-of-type(1),
.product[data-category="longSleeve"] p:nth-of-type(1),
.product[data-category="longsleeve"] p:nth-of-type(1),
.product[data-category="Toy"] p:nth-of-type(1),
.product[data-category="toy"] p:nth-of-type(1),
.product[data-category="Gloves"] p:nth-of-type(1),
.product[data-category="gloves"] p:nth-of-type(1),
.product[data-category="Socks"] p:nth-of-type(1),
.product[data-category="Dress"] p:nth-of-type(1),
.product[data-category="dress"] p:nth-of-type(1),
.product[data-category="Hoodie"] p:nth-of-type(1),
.product[data-category="hoodie"] p:nth-of-type(1),
.product[data-category="Bavette"] p:nth-of-type(1),
.product[data-category="bavette"] p:nth-of-type(1),
.product[data-category="socks"] p:nth-of-type(1) {
  font-size: 13px;
  color: #858585;
  text-transform: uppercase;
}
/* ... your existing CSS ... */

/* Open button for side navigation */
.open-sidenav-btn {
  cursor: pointer;
  margin-left: 10px;
  background-color: white;
  font-size: 30px;
  color: rgb(15, 112, 183);
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  margin-right: 5px; /* Maintain some spacing between the button and the Home link */
  vertical-align: middle; /* Align it with the links in the navbar */
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidenav a {
  padding: 10px 15px; /* Adjusted padding for better spacing */
  text-decoration: none;
  font-size: 20px; /* Reduced font size for better fit */
  color: black;
  display: block;
  transition: 0.3s;
}

/* ... rest of the provided sidenav CSS ... */
nav {
  justify-content: flex-start; /* This will ensure elements in the nav start from the left */
  align-items: center; /* This will vertically center align the button in the nav */
}

.dropdown-icon {
  cursor: pointer;
  padding-left: 50px;
  transition: transform 0.3s ease-in-out;
}

.dropdown-content {
  display: none;
  padding-left: 30px;
}

.dropdown-content a {
  font-size: 15px; /* Adjust as needed */
  color: black;
}

.open > .dropdown-icon {
  transform: rotate(90deg);
}

.open > .dropdown-content {
  display: block;
}

.arrow {
  position: absolute;
  top: 40%;
  font-size: 30px;
  color: white;
  text-decoration: none;
  background-color: rgb(15, 112, 183);
  padding: 8px;
  transform: translateY(-50%);
  opacity: 0.8;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

/* Hide arrows for larger screen */
@media (min-width: 768px) {
  .arrow {
    display: none;
  }
}

/* Style for the modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Image inside the modal */
.modal-img {
  max-width: 100%; /* Make image responsive */
  height: auto;
  margin: 0 auto; /* Center the image */
}

/* Title inside the modal */
.modal-title {
  font-size: 30px; /* Adjust font size */
  color: #000; /* Change color */
  margin: 10px 0; /* Add margin */
}

/* Text inside the modal */
.modal-text {
  font-size: 18px; /* Adjust font size */
  color: #666; /* Change color */
}

/* Price inside the modal */
.modal-price {
  font-size: 20px; /* Adjust font size */
  color: black; /* Change color */
  margin-top: -10px;
  font-weight: bold;
}
/* Style for the size dropdown inside the modal */
.modal-size {
  font-size: 18px; /* Adjust font size */
  padding: 5px; /* Add padding for better appearance */
  margin-bottom: 100px; /* Add some space below the dropdown */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius for rounded corners */
  width: 100%; /* Make it take the full width of its parent container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* ... other styling properties ... */
}

/*
.contact-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

#contact-form {
  width: 100%;
  max-width: 600px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  padding: 10px 20px;
  background-color: rgb(15, 112, 183);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(13, 95, 155);
}

.contact-info {
  margin-top: 40px;
  font-size: 15px;
  padding-bottom: 10px;
}
*/
/* Make the contact page responsive */
@media (max-width: 768px) {
  .contact-container {
    padding: 10px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: calc(100% - 20px);
  }
}

#about-section {
  padding: 40px;
  background-color: #f4f4f4;
}

#about-section h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}

#about-section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#about-section p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

/* Styles for smaller devices */
@media (max-width: 768px) {
  #about-section {
    padding: 20px;
  }

  #about-section h1 {
    font-size: 28px;
    text-align: center;
  }

  #about-section p {
    font-size: 16px;
  }

  #about-section img {
    width: 100%;
  }

  .container {
    padding: 0;
  }
}

.new-img {
  margin-top: 20px;
  width: 100%;
  overflow: hidden; /* Hide the slides outside the container */
  position: relative;
  margin-bottom: 20px;
}

/* Styling each slide */
.new-img .slide {
  width: 100%;
  float: left;
  text-align: center; /* Center the text within each slide */
  box-sizing: border-box;
  transition: all 0.5s; /* Transition for the slide movement */
}

/* Styling the images to be responsive */
.new-img .slide img {
  width: 80%; /* Change this value to control the size */
  height: auto;
  display: block;
  margin: 0 auto; /* This will center the image horizontally */
}

.fa {
  padding: 20px;
  font-size: 15px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-whatsapp {
  color: white;
}

.fa-instagram {
  color: white;
}

.dropdown-content {
  display: none;
  /* Add your styles for the closed state */
}

.open .dropdown-content {
  display: block;
  /* Add your styles for the open state */
}

.loading-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white; /* or any background color you prefer */
  z-index: 9999; /* Ensure the loading screen is above all other content */
}

/* Your provided CSS here */
.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: "";
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

/* Add these styles to your CSS */
.old-price {
  text-decoration: line-through;
  color: red;
  display: inline-block; /* Updated this property */
}

.new-price {
  color: green;
  display: inline-block; /* Updated this property */
}

/* Newly added class to add a space between old and new price */
.price p {
  margin-right: 10px;
}
